<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/head.html")
  <body>
    <div class="page"> 
      <div class="container">
       <div class="connect-description">
        <h2 class="connect-description__title">
          Подключенные станции
        </h2>
        <p class="connect-description__text">
          Вам необходимо включить вашу зарядную станцию и подключиться к Wi-Fi сети "Vipra Charge Station". Затем нажмите кнопку "Подключиться"
        </p>
       </div>
       <a href="http://10.0.0.1" class="btn">Подключиться</a>
      <!-- @@include("../blocks/install.html") -->
      </div>
    </div> 
    <script src="js/main.min.js"></script>
    @@include("../blocks/service-worker.html")
  </body>
</html>